button{
    width:200px;
    height:40px;
    background: url('../assets/images/timg.jpg');
    color:red;
}
img{
    width:100%;
    height:800px;
}
@font-face {
    font-family: hanyiheijian;
    src: url('../assets/fonts/hanyiheijian.ttf');
}
span{
    font-family: hanyiheijian;
    font-size:30px;
}